
# 公众号文章下方广告
^https?:\/\/mp\.weixin\.qq\.com\/mp\/getappmsgad url script-response-body https://raw.githubusercontent.com/h8y/fly/main/js/qx/WeChatOfficialAccount.js

# 微信公众号去除商品推广
^https?:\/\/mp\.weixin\.qq\.com\/mp\/cps_product_info\?action url reject-dict

hostname = mp.weixin.qq.com
